*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.container {
	min-width: 25%;
}

.row {
	display: flex;
	width: 100%;
}

.keys,
.operators {
	display: flex;
	flex-direction: column;
}

.keys {
	margin-right: 0.5rem;
	width: 75%;
}

.operators {
	width: 25%;
}

.input {
	border: 1px solid gray;
	margin-bottom: 0.5rem;
	height: 2rem;
	padding: 0.5rem;
	width: 100%;
}

.key,
.operator {
	display: flex;
	flex-basis: 3rem;
	flex-grow: 1;
	justify-content: center;
	height: 2rem;
	align-items: center;
}
